*{margin:0;padding:0;box-sizing: border-box;}
#content{
    width:1000px;
    margin:0 auto;
}
.account{
    width:100%;
    margin-top:50px;
}
.account div{
    display:flex;
    justify-content:space-between;
    margin:30px 0;
}
.info{
    flex-wrap:wrap;
    background:#B91646;
    border-radius:10px;
    color:#fff;
}
.info p,.my_review, .change{
    width:440px;
    margin:10px 30px;
    font-size:23px;
    font-weight: 800;
}
.my_review,.change{
    text-align: end;
    color:#fff;
    text-decoration: none;
}
.review, .comment,.like,.mark,.sign_date{
    font-size: 23px;
}
.num{
    font-size: 26px;
}
#rec{
    width:100%;
    margin:100px 0;
}
.title{
    display:flex;
    justify-content: space-between;
    font-size:23px;
    margin:50px 0;
}
.slider{
    width:100%;
}
.slide-container{
    display:flex;
    flex-wrap:wrap;
    gap:40px 26px;
}
.rec_movie{
    position:relative;
}
.rec_movie img{
    width:230px;
    height:328.5px;
}
.summary{
    width:100%;
    height:328.5px;
    position:absolute;
    overflow: hidden;
    top:-310px;
    left:0;
    background:rgba(0,0,0,0.5);
    color:#fff;
    display:none;
}
#rec_history{
    margin-bottom:100px;
}
#history-wrap{width:100%;}
.card{
    display:flex;
    flex-wrap:wrap;
    gap:40px 26px;
}
.card_n{width:230px;height:340px;
    background:#F9C041;border-radius:10px;
    text-decoration: none; color:black;
}
.history{width:230px;height:230px;
    ;display:flex; flex-wrap:wrap; 
    gap:10px;padding:10px;}
.thumbnail{
    width:100px;
    height:100px;
    border-radius:10px;
    overflow:hidden;
}
.thumbnail img{width:100px;height:142.8px;}
.card_title{
    font-size:23px;
    height:110px;
}
.card_title b{
    position:relative;
    top:30px;
    left:20px;
}
@media (max-width:1194px) {
    #wrap{width:100vw;}
    #content{width:90%;}
    .info a, .info p{width:35%;margin:10px 10px;}
    .slide-container{width:100%;gap: 26px;}
    .card{width:100%;}
    .card_title{width:100%;height:20px;font-size: 17px;}
    .card_title b{top:10px;}
}
@media (max-width:490px) {
    *{font-size:12px;}
    #wrap{width:100vw;}
    #content{width:90%;}
    .account{width:100%;margin: 0 auto;}
    .account div{margin: 15px 0;}
    .info a, .info p{width:35%;font-size:12px;margin:5px 10px;}
    .num{font-size:15px;}
    .title b{font-size: 15px; width: 50%;}
    .title p{font-size: 10px; width: 40%; text-align: end;}
    #rec, #rec_history{width:100%; margin:0 auto;}
    .rec_movie img{width:140px; height:200px;}
    .slider{overflow-x: scroll;}
    .slide-container{flex-wrap:nowrap; column-gap:15px;}
    #history_wrap{overflow-x:scroll;margin-bottom:40px;}
    .card{flex-wrap:nowrap; gap:15px;}
    .card_n{width:140px; height:200px;}
    .history{width:140px; height:140px;}
    .thumbnail{width:55px;height:55px; border-radius:5px;}
    .thumbnail img{width:55px; height:78.5px;}
    .card_title{width:100%;height:20px;font-size: 12px;}
    .card_title b{padding:0;top:10px;}
}