*{padding:0;margin:0;box-sizing: border-box;}
#section{
    width:1000px;
    margin:0 auto;
}
#like_wrap{
    width:100%;
    padding:60px 0;
}
.like_title{
    font-size:23px;
    font-weight: 700;
    padding-bottom:60px;
}
.review_wrap{width:100%;}
.r_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;
}
.review_l{
    max-height:275px;
    overflow:hidden;
}
.review{
    width:230px;
    position:relative;
}
.review img{
    height:100%;
}
.likeReview{
    width:100%;
    height:100%;
    position:absolute;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:15px;
    opacity: 0;
    overflow:hidden;
    z-index:10;
    display:flex;
    flex-direction: column;
    row-gap:10px;
}
@media(min-width:490px){
    .review:hover .likeReview.active {
        transition:all 0.5s ease;
        opacity: 1;
    }
    .review:hover {
        transition:all 0.5s ease;
        opacity: 1;
    }
}
.review img{
    width:230px;
}
@media (max-width:1194px) {
    #section{width:calc(100% - 30px);}
    .r_box{width:100%; justify-content: space-evenly;}
    #like_wrap{width:100%; margin:0 auto;}
    .review{height:340px;}
    .review img{
        position:relative;
        left:50%; transform:translate(-50%);
    }
}
@media (max-width:490px) {
    .review{width: 160px;height:227px;}  .review img{width:100%; height:100%;}
}