*{padding:0;margin:0;box-sizing: border-box;font-size:23px;}
a{font-size: inherit;}
input { outline:none; }
#section{
    width:1000px;
    margin:0 auto;
}
#review_wrap{
    width:100%;
    margin:50px 0;
}
.page_title{
    font-size:30px;
}
.review_con{
    width:100%;
    margin: 20px 0;
}
.main_content{
    width:100%;
    display:flex;
    flex-direction: column;
    row-gap: 30px;
}
.review_title{
    width:100%;
    font-size:25px;
    display:flex;
    justify-content:space-between;
    padding:20px;
    background-color: #F9C041;
}
.heart_wrap{position:relative;}

.heart_wrap i:hover{transform:scale(1.2); transition:all 0.5s ease;}

.bi-heart-fill{color:#B91646;}

.ani{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-52%, -55%);
    width:0; height:0; border-radius: 50%;
    transform-origin: center;
    border:1px solid #B91646;
    opacity: 0;
}
.ani_active{animation:pond 0.6s ease}
@keyframes pond{
    0%{width:0px; height:0px; opacity: 1; }
    100%{width:50px; height:50px; opacity: 0;}

}
.write_info{
    width:100%;
    display:flex;
    padding:0 50px;
    column-gap:30px;
}
.write_info div{
    font-size:17px;
}
.con_detail{
    display:flex;margin-bottom:50px;
    justify-content: space-between;
}
.poster{width:185px;height: 260px;}
.movie_info{
    width:790px;
    height:260px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie_name{
    font-size:30px;
    padding:0 0 10px 0;
}
.movie_release{
    font-size:20px;
    padding-bottom:10px;
    font-weight:700px;
    border-bottom:2px solid #000;
}
.movie_detail{
    height:180px;
    display:flex;
    column-gap: 15px;
}
.info_l{
    font-weight:900;
}
.info_l p, .info_r p{
    padding: 10px 0px;
    font-size:17px;
}
.star_score{
    width:100%;
    text-align: center;
    padding:50px 0;
    border-bottom:1px solid black;
    display: flex; flex-direction: column;
    gap:15px;
}
.stars{
    align-self: center;
    width:200px;
    display:flex;
    justify-content: space-between;

}
.star_rate{font-weight: bold;}
.bi-star-fill{color:#F9C041;}
.post_menu{
    display:flex;
    justify-content: end;
}
.post_menu div{
    font-size:17px;
    margin:10px 0;
    padding:0 10px;
    text-align: center;
}
.rePost, .del{
    border-right:1px solid black;
}
.reply_wrap{
    margin-bottom:100px;
}
.hReply{
    font-size:17px;
}
.write_reply{
    width:100%;
    height:60px;
    margin:20px 0;
    border:1px solid #000;
}
.write_reply input{
    width:90%;
    height:100%;
    font-size:17px;
    background:none;
    border:0;
    padding:0 20px
}
.reply_bt{
    width:10%;
    font-size:17px;
    height:100%;
    border:0;
}
.reply_bt:hover{
    background:#ccc;
}
.mReply_wrap{display:none;}
.reply{
    width:100%;
    padding:20px 15px;
    border-bottom:1px solid black;
}
.reply_info{
    display:flex;
}
.reply_info div{
    height:15px;
    font-size:10px;
    margin:10px 10px 10px 0;

}
.reply_menu{
    width:100px;
    display:flex;
    justify-content:space-between;
}
.reply_menu p{
    font-size:10px;
    text-align: center;
}
.reply_text{
    width:100%;
    font-size:17px;
}

.rePost_reply, .del_reply, .siren_reply,
.rePost, .del, .siren, .reply_bt,
.bi-heart, .bi-heart-fill{cursor:pointer;}
.sirenModal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
@media (max-width:1194px) {
    *{padding:0; margin:0;}
    #section{
        width:calc(100% - 30px);
        margin:50px auto;
    }
    #review_wrap{width:100%;margin: 0 auto;}
    .con_detail{column-gap: 20px;}
    .movie_info{flex-grow: 1;}
}
@media (max-width:490px){
    *{padding:0;margin:0;font-size:12px;}
    #section{width:100vw;}
    #review_wrap{width:90%;margin:20px auto;}
    .page_title{font-size:23px;}
    .main_content{row-gap:25px;position:relative;}
    .write_info{justify-content: space-between; padding:0 5px;}
    .write_info div{font-size:12px;}
    .review_title{padding:10px 15px; display:block;}
    .review_title .title{font-size: 15px;}
    .post_menu{position:absolute; top: 30px; right:10px;}
    .post_menu div{font-size: 12px;}
    .con_detail{display:block;margin:0;}
    .p_box{ text-align: center;}
    .movie_info{width:100%;margin:15px 0;height:fit-content;}
    .movie_name{font-size:25px; font-weight: 500;}
    .movie_detail{height: fit-content;}
    .movie_release{font-size:14px;font-weight:500;}
    .info_l p, .info_r p{font-size:12px;height:20px;}
    .star_score{border:0;margin:0;}
    .stars i{ padding: 0 5px; font-size:17px; color:#F9C041;}
    .reply_wrap{ width:100%; height:fit-content; padding-bottom:80px; position:relative; margin:0; }
    .hReply{font-size: 12px;}
    .write_reply{position:absolute; bottom:0; height:30px; }
    .write_reply input{font-size: 12px;width: 85%;}
    .reply_bt{font-size: 12px;width:15%;height: 99%;;}
    .reply{display:none;}
    .mReply_wrap{display:block;} .mReply_box{ border-bottom:1px solid #ccc; padding: 15px 0;}
    .n_name{font-weight:900;} .mReply_menu{width: 100%; display:flex;justify-content:flex-end;}
    .mReply_menu p{padding: 3px 5px; border: 1px solid #aaa; border-radius:5px;font-size: 10px; margin-left: 10px;}
} 