.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 67px;
    padding: 50px 0px;
    position: relative;
  }
  @media(max-width:1194px){
    .content {
      margin:0 auto;
      width:calc(100vw - 30px);
    }
  }
  @media(max-width:490px){
    .content{ padding:30px 0px; gap:40px; }
  }

  .mark{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    top:10px;
  }

  .bookMark_Bt{
    cursor:pointer;
    width:25px;
  }
  @media(min-width:490px){
    .bookMark_Bt:hover{
      transition: all 1s;
      transform: scale(1.2);
    }
  }
  @media(max-width:490px){
    .mark{
      position: absolute;
      left:calc(100% - 15px);
      top:22px;
    }
    .bookMark_Bt{position: absolute;}
  }
  
  /**영화정보*/
  .content .movie-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 67px; width:1000px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .movie-info-box{
      width:calc(100vw - 30px);
    }
  }
  @media(max-width:490px){
    .content .movie-info-box{
      gap:30px;
    }
  }
  
  .content .mainTitle {
    width: 1000px;
    margin-top: -1px;
    font-family: 'SUITE-Regular';
    font-weight: 700;
    font-size: 30px;
    position: relative;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .content .mainTitle{width:fit-content; }
  }
  @media(max-width:490px){
    .content .mainTitle{font-size:15px;}
  }
  
  .content .movie-template {
    display: flex;
    column-gap: 25px;
    position: relative;
    flex: 0 0 auto;
    width:calc( 1000px - 25px - 185px );
  }
  @media(max-width:1194px){
    .content .movie-template{
      width:calc(100vw - 30px);
      column-gap:0; justify-content: space-between;
    }
  }
  @media(max-width:490px){
    .content .movie-template{
      flex-direction: column;
      row-gap:25px;
    }
  }
  
  .content .poster {
    position: relative;
    width: 185px;
    height: fit-content;
    object-fit: cover;
  }
  @media(max-width:490px){
    .content .poster{
      width:60%; height:100%;
      margin:0 auto;
    }
  }
  
  .content .frame {
    display: flex;
    flex-direction: column;
    /* width:calc(1000px - 185px ); */
    width:100%;
    flex-grow:1;
    height: fit-content;
    row-gap:5px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .frame { width:calc(100% - (185px + 25px)) }
  }
  @media(max-width:490px){
    .content .frame{ width:100%; height:fit-content; gap:10px; }
  }
  
  .content .movieName {
    width: fit-content;
    font-family: 'SUITE-Regular';
    font-weight: 400;
    font-size: 40px;
    white-space: break-word;
    position: relative;
    color: var(--collection-1-black);
  }
  @media(max-width:490px){
    .content .movieName{
      width:100%;
      font-size:20px;
    }
  }

  .content .storyLine{line-height: 1.3;}
  
  .content .bold {
    width: fit-content;
    font-family: 'SUITE-Regular';
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490px){
    .content .bold{font-size:12px;}
  }
  
  .content .line {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--collection-1-black);
  }
  
  .content .infoFrame {
    display: inline-flex;
    align-items: flex-start;
    gap: 38px;
    position: relative;
    flex: 0 0 auto;
    width:100%;
  }
  
  .content .normalFont {
    width:fit-content;
    font-family: 'SUITE-Regular';
    font-weight: 400;
    font-size: 20px;
    position: relative;
    color: var(--collection-1-black);
  }
  .content .actorNameBox{
    width:100%;
  }
  @media(max-width:490px){
    .content .normalFont{font-size:12px;}
  }
  
  .content .p {
    width: fit-content;
    margin-top: -1px;
    font-family: 'SUITE-Regular';
    font-weight: 400;
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490px){
    .content .p{font-size:12px;}
  }

  .content .scenarioTitle{
    display:flex; width:100%;
    justify-content: space-between;
    align-items: center;
    position:relative;
  }

  .content .searchTitle{
    position: relative;
    width:fit-content;
    border-radius: 20px; overflow:hidden;
  }

  .content .revBt{
    font-size:20px; padding:5px 10px;
    font-weight:bold;
    cursor:pointer;
    border-radius: 20px;
    border: none;
    background: transparent;
    transition:all 1s ease;
    backdrop-filter: blur(7px);
  }
  @media(max-width:490px){
    .content .revBt{font-size:12px;}
  }

  .content .animationTool{
    position:absolute; top:0;
    background:#8a8a8a;
    width:10px; height:33px;
    opacity: 0;
    animation-iteration-count: 1;
    z-index: -1;
  }
  .content .revBt:hover + .animationTool {
    animation: glowing 0.5s ease forwards;
    animation-iteration-count: 1;
  }
  @keyframes glowing {
    0%{opacity: 1; left:0;}
    100%{opacity:0; left:100%;}
  }

  
  /**예고편*/
  .content .subWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  .content .subWrap:nth-child(2){ gap:0px; }
  @media(max-width:1194px){
    .content .subWrap{
      width:100%;
    }
  }
  @media(max-width:490px){
    .content .subWrap:nth-child(3){
      gap:0;
    }
  }
  
  .content .subTitle {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--semi-title-font-family);
    font-weight: var(--semi-title-font-weight);
    font-size: var(--semi-title-font-size);
    white-space: nowrap;
    position: relative;
    color: #000000;
    letter-spacing: var(--semi-title-letter-spacing);
    line-height: var(--semi-title-line-height);
    font-style: var(--semi-title-font-style);
  }
  @media(max-width:490px){
    .content .subTitle{
      font-size:16px;
    }
  }

  
  .content .trailer-template {
    align-items: flex-start;
    gap: 50px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .content .trailer-template{
      width:100%;
      justify-content: space-between;
      overflow-X:scroll; padding:0px 0px 15px 0px;
    }
  }
  @media(max-width:490px){
    .content .trailer-template{gap:10px;}
  }

  ::-webkit-scrollbar{
    height:8px;
    background: gray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background:#454545;
    border-radius: 10px;
  }
  @media(max-width:490px){
    ::-webkit-scrollbar{
      height:0px;
    }
  }
  
  .content .trailerBox {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .content .trailer {
    position: relative;
    width: 300px;
    height: 210px;
    object-fit: cover;
    cursor: pointer;
  }
  @media(min-width:1194px){
    .content .trailer:hover{
      transform: scale(1.1);
      transition:all 0.5s;
    }
  }
  
  .content .play-bt {
    top: 68px;
    position: absolute;
    width: 73px;
    height: 73px;
    left: 113px;
    opacity: 0.8;
    pointer-events: none;
  }
  
  .content .trailerTitle {
    width: fit-content;
    font-family: var(--normal-font-family);
    font-weight: var(--normal-font-weight);
    font-size: var(--normal-font-size);
    position: relative;
    color: #000000;
    letter-spacing: var(--normal-letter-spacing);
    line-height: var(--normal-line-height);
    font-style: var(--normal-font-style);
  }
  @media(max-width:490px){
    .content .trailerTitle{font-size:12px;}
  }
  

  /**차트*/
  .content .chartWrap {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:810px){
    .content .chartWrap{
      flex-direction: column;
      width:100%;
    }
  }

  .content .chartBox {
    position: relative;
    width: 500px; padding: 0 25px;
    height: 500px;
    background-color: var(--white);
    display:flex; flex-direction: column;
    justify-content: center; align-items: start;
    gap:10px;
  }
  @media(max-width:810px){
    .content .chartBox {
      width:100%;
    }
  }

  .content .chartBox h3{font-size:23px;}

  @media(max-width:1194px){
    .content .chartWrap{width:100%; overflow:hidden;}
    .content .chartBox{width:50%;}
  }
  @media(max-width:810px){
    .content .chartBox {
      width:100%;
    }
  }
  @media(max-width:810px){
    .content .chartBox{width:100%; border:none; }
    .content .chartBox:first-child{
      border:none;
    }
  }
  @media(max-width:490px){
    .content .chartBox{
      height:fit-content; padding:15px;
      border:none; padding:0}
    .content .chartBox:first-child{
      border-right:none;
    }
    .content .chartBox h3{font-size:12px;}
  }


  #darkBg{
    position:fixed; top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.25);
    z-index:5; display: flex; justify-content: center;
    align-items: center;
  }

  #big{
    transform: scale(2);
  }


  /* .ani{position:absolute; top:0; left:0;} */

  .clicked {
    position:absolute;
    width: 0px;
    height: 0px;
    border:3px solid #105652;
    border-radius: 50%;
    z-index: -1;;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -55%);
    animation: pond 0.6s ease;
  }

  @keyframes pond {
    0%{
      opacity:1;
      width:0px;
      height:0px;
    }
    100%{
      opacity:0;
      width:100px;
      height:100px;
    }
  }