*{box-sizing: border-box;}
button{border:none; cursor:pointer; text-align: left; background:white;}
.screen {
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    gap: 100px; margin:100px auto;
    position: relative;
    left:50%; transform: translateX(-50%);
  }
  @media(max-width:1194px){
    .screen{ gap:70px; margin:30px 0px 80px 0px; }
  }
  @media(max-width:490px){
    .screen{ margin: 30px auto; gap:30px;}
  }
  
  .screen .div {

  }
  @media(max-width:490px){
    .screen .div{ height:165px; left:0;}
  }
  
  .screen .title {
    display: flex;
    width: 1000px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto; padding: 0 0 20px 0;
  }
  @media(max-width:1194px){
    .screen .title{
        width:100%;
        left:50%; transform: translateX(-50%);
    }
  }
  @media(max-width:490px){
    .screen .title{
        margin-bottom: 10px; padding:0;
    }
  }
  
  .screen .mainTitle {
    position: relative;
    width: 192px;
    height: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  @media(max-width:490px){
    .screen .mainTitle
    {font-size: 16px;}
  }
  
  .screen .plusBt {
    width: 23px;
    height: fit-content;
    margin-top: -1px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 35px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:490px){
    .screen
     .plusBt{display:none;}
  }

  .screen .plusBt a { color:black; }

  .screen .plusBt:hover{
    transition:all 1s ease;
    transform: rotate(180deg);
  }

  
  .screen .cont {
    display: flex;
    width: 1000px;  height:fit-content;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    overflow-x:scroll;
    overflow:hidden;
    gap:10px;
    scroll-behavior: smooth;
  }
  @media(max-width:1194px){
    .screen .cont{
        width:calc(100vw - 30px); height:fit-content; gap:11px;
    }
  }
  @media(max-width:490px){
    .screen .cont{
        width:calc(100vw -15px);
        left:0; gap:5px;
        overflow-x: scroll;
    }
  }

  .screen .cont .bi {
    z-index:10;
    position:fixed;
    height:438px;
    font-size:40px; color:white;
    display:flex; align-items: center;
  }
  @media(max-width:1194px){
    .screen .cont .bi{height:427px;}
  }
  @media(max-width:490px){
    .screen .cont .bi{display:none;}
  }
  .screen .cont .bi:hover{
    transition:all 0.5s;
    cursor:pointer;
    background-color: rgba(0,0,0, 0.5);
  }
  .screen .cont .bi-chevron-compact-left{
    left:0%;
  }
  .screen .cont .bi-chevron-compact-right{
    right:0%;
  }

  
  .screen .poster-box {
    display: flex;
    flex-direction: column;
    width: 230px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    cursor:pointer;
  }
  @media(max-width:1194px){
    .screen .poster-box{width:100%; height: fit-content;}
  }
  @media(max-width:490px){
    .screen .poster-box{width:100%;}
  }

  .screen .ranking{
    width:50px; height:50px;
    background:#B91646;
    color:white; font-size:20px;
    font-weight:bolder; border-radius: 0px 10px 10px 10px;
    opacity: 0.9;
    display:flex; align-items: center;
    justify-content: center;
    position:absolute; z-index:10;
    /* box-shadow:inset 0px 0px 5px 4px rgba(0, 0, 0, 0.29); */
  }
  @media(max-width:490px){
    .screen .ranking{
      transform:scale(0.65);
      transform-origin: 0 0;
    }
  }
  
  .screen .image {
    position: relative;
    width: 230px;
    object-fit: cover;
  }
  @media(max-width:1194px){
    .screen .image{width:230px; height:100%;}
  }
  @media(max-width:490px){
    .screen .image{width:100px; height:100%;}
  }
  
  .screen .view {
    display: flex;
    flex-direction: column;
    /* width: 215px; */
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:490px){
    .screen .view{
        display:none;
    }
  }
  
  .screen .movieTitle {
    width:230px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--font-black);
    font-size: 26px;
    white-space: nowrap;
    overflow:hidden;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  @media(max-width:1194px){
    .screen .movieTitle {font-size: 20px;}
  }
  
  .screen .movieDate {
    font-family: var(--base-fontsize-font-family);
    font-weight: var(--base-fontsize-font-weight);
    color: var(--font-black);
    font-size: var(--base-fontsize-font-size);
    letter-spacing: var(--base-fontsize-letter-spacing);
    line-height: var(--base-fontsize-line-height);
    font-style: var(--base-fontsize-font-style);
  }
  
  .screen .starBox {
    display: inline-flex;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  @media(max-width:1194px){
    .screen .starBox { gap:auto; width:100%; }
  }
  
  @media(max-width:490px){
    .screen .starBox {
        display:none;
    }
  }
  
  .screen .starYellow {
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--y);
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .starBlack {
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--collection-1-black);
    font-size: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }

  .movieName{
    position:absolute;
    top:83%; left:30%;
    text-align: center;
    border-radius: 10px;
    white-space:nowrap;
    font-size:22px;
    font-weight:900;
    background:rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(10px);
    z-index:1000;
    padding:3px 15px;
    transform-origin: 50% 50%;
    transform:translate();
  }
  
  .show{display:none;}